html{
	color: black;
	font-family: sans-serif;
}

header{
	width: 100%;
	text-align: left;
}

body{
	padding: 20px;
	margin: 20px;
}

#menu{
	
	background: #FFFFFF;
	width: 100%;
	margin: 30px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: sticky;
	top: 0;
	cursor: pointer;
}
 
li{
	margin: 0px;
	float: left;
	width: 10%;
}

li a{
	display: block;
	padding: 5px;
	text-decoration: none;
	text-align: left;
	color: black;
}

li a:hover{
	background: #F3F3F3;
}

#imagenes{
    display: flex;
    align-items: center;
}

#boton{
	
	background: #D1F6E4;
	color: green;
	border-radius: 80px;
	border-color: green;
	cursor: pointer;
}

#texto{
	text-align: center;
	font-family: Arial Black; 
	color: white;
	font-size: 30%;
}

table{
	color: black;
	width: 50%;
	margin-left: 1%;
	margin-right: 1%;
}

td, th{
	background: #FFFFFF;
	text-align: left;
	padding: 2px;
	font-family: sans-serif;
}

tr:nth-child(even){
	background-color: #FFFFFF;
}

